@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(63, 46, 46);
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#title {
  letter-spacing: 8px;
  font-size: 72px;
  font-weight: 900;
}

.subText {
  font-size: 20px;
}

li {
  font-size: 20px;
  transition: 150ms ease-in-out;
}

li:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#formTesting{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#formChild{
  display: flex;
  flex-direction: column;
  gap: 4px;
}