@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(63, 46, 46);
    color: white;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    gap: 32px;
}

#hero {
    margin-top: 100px;
}

#title {
    letter-spacing: 8px;
    font-size: 72px;
    font-weight: 900;
}

#tasks {
    display: flex;
    flex-direction: column;
}

#tasksTitle {
    font-size: 36px;
    font-weight: bold;
}

ol {
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-position: inside
}

li{
    font-weight: bold;
}

.taskDescriptions{
    margin-top: 2px;
    max-width: 250px;
    font-weight: normal;
    letter-spacing: 0px;
}